.home-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("assets/images/home-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.btn-login {
  transition: all 0.2s ease-in-out;
}

.btn-login:hover {
  transform: scale(1.1);
}
