.wrapper-create-playlist {
  background-color: #181818;
  min-height: 100vh;
}

h3 {
  padding: 30px;
  color: whitesmoke;
}

.search-bar {
  background-color: #181818;
  padding: 10px 30px;
  color: white;
}

.list-track {
  padding: 30px;
  color: gainsboro;
}

.form-create-playlist {
  padding: 30px;
  color: gainsboro;
}
