:root {
  --primary: #3f72af;
  --success: #1db954;
  --warning: #ff7600;
  --danger: #cd113b;
}

.btn {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  color: whitesmoke;
  border: none;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(3px);
}

.btn-primary {
  background-color: var(--primary);
}
.btn-success {
  background-color: var(--success);
}
.btn-danger {
  background-color: var(--danger);
}
.btn-warning {
  background-color: var(--warning);
}

/* button size */

.btn-small {
  font-size: 12px;
}
.btn-medium {
  font-size: 14px;
}
.btn-large {
  font-size: 18px;
}
