.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin: 10px 0px;
}

.form input {
  padding: 10px 20px;
  outline: none;
  border: 2px solid black;
  border-radius: 8px;
}

.form textarea {
  padding: 10px 20px;
  outline: none;
  border-radius: 8px;
  border: 2px solid black;
}

.form button {
  margin: 10px 0px;
  padding: 10px;
  cursor: pointer;
  background-color: #1db954;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.form button:hover {
  background-color: green;
}
