.wrapper-home {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("assets/images/home-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.banner {
  width: 550px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.banner h1 {
  font-size: 48px;
  font-weight: 700;
}

.banner p {
  margin-top: 10px;
}

.banner button {
  margin-top: 30px;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  align-self: center;
  font-weight: bold;
  background-color: #f2b757;
  transition: all 0.2s ease-in-out;
}

.banner button:hover {
  background-color: #f2c55d;
  transform: scale(1.1);
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .banner {
    width: 450px;
  }

  .banner h1 {
    font-size: 36px;
    font-weight: 600;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media screen and (min-width: 481px) and (max-width: 767px) {
  .banner {
    width: 400px;
  }

  .banner h1 {
    font-size: 30px;
    font-weight: 600;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media screen and (min-width: 320px) and (max-width: 480px) {
  .banner {
    width: 400px;
  }

  .banner h1 {
    font-size: 30px;
    font-weight: 600;
  }
}
