.wrapper-navbar {
  width: 100%;
  height: 70px;
  background-color: #f2b858;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 30px;
}

.menus {
  margin-right: 30px;
}

.menus button {
  background-color: #f2c55d;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
  transition: all 0.2s ease-in-out;
}

.menus button:hover {
  background-color: goldenrod;
  transform: scale(1.1);
}
